html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #f8bbd0;
  min-height: 100%;
}

/* forms : Create,Edit */
form{
  padding: 20px;
  margin-top: 0.5rem;
}
form button, form h5{
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

textarea.materialize-textarea {
  overflow-y: hidden;
  padding: .8rem 0 1.6rem;
  resize: none;
  min-height: 10rem;
}

/* IdeaDetails */

.content{
  font-size: 18px;
  white-space: pre-wrap;
}

.edit{
  position: absolute;
  width: 50%;
  top: 64px;
  bottom: 0;
}
.edit-preview{
  right:0;
  border-left: 1px dotted #f8bbd0;
  padding-left: 30px;
  padding-right: 30px;
}

h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  outline: none;
}

h1 {
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid #bdbdbd;
}
h2 {
  font-size: 1.8em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #bdbdbd;
}
h3 {
  font-size: 1.5em;
  border-bottom: 1px dotted #bdbdbd;
}
h4 {
  font-size: 1.2em;
}

ul:not(.browser-default) {
  padding-left: 20px;
}
ul:not(.browser-default)>li {
  list-style-type: circle;
}

.category {
  width: 200px;
  padding: 10px 0 10px 24px;
  margin-bottom: -0.5em;
  font-size: 12pt;
}

/* toc */
.idea-toc{
  padding-top: 100px;
}

/* navbar */
ul.navbar:not(.browser-default) {
  padding-left: 0;
}
ul.navbar:not(.browser-default)>li {
  list-style-type: none;
}